---
layout: default
title: Zápisy
paginate:
  permalink: /:num/
  limit: false
  per_page: 10
  tag: 'ZM-Kadan'
  title_suffix: " - stránka :num"  
---

<!-- https://github.com/octopress/paginate -->

<div class="row">
  <div class="columns">
    <div class="o-section">
      <div class="o-section-inner">
          <header class="c-page-header">
            <h1 itemprop="headline" class="c-page-title">{{ page.title }}</h1>
          </header>

          {% assign posts = paginator.posts %}
          {% include articles/list-responsive.html posts=posts %}
          {% include articles/pagination.html paginator=paginator %}
      </div>
    </div>
  </div>
</div>

<blockquote class="c-blockquote c-blockquote--wicon">
  <p>Záznamy z jednání ZM Kadaň jsou pořizovány za účelem zákonného práva informovanosti občanů města. 
Budou upraveny pouze v případě nutné ochrany osobních údajů anonymizací a budou archivovány na tomto webu po dobu funkčního období našich zastupitelů. 
Přítomní účastníci veřejného jednání ZM mají právo na podávání námitek proti takovému zpracování ve smyslu § 21 zákona o ochraně osobních údajů 
či podání stížnosti u dozorového úřadu.</p>
  <cite>Nějaký pirát</cite>
</blockquote>
